body {
    padding: 0;
}

.cover {
	width: 100%;
    height: 100%;
    display: table;
    background-image: url("../media/background_2.png");
    background-position: center;
   	background-size: cover;
}

.cover-text {
	text-align: center;
    height: 73vh;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.cover-text h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px
}

.cover-text .grofers-color{
    color: #e96125
}

.cover-text h4 {
    font-size: 18px;
    line-height: 21px;
    margin: -5px 0 30px;
    font-weight: 400
}

.cover-text h5 {
    font-size: 16px;
    line-height: 1.6em;
    margin: 20px 0 0;
    font-weight: 400
}

.cover-text h6 {
    margin-bottom: 40px;
    font-size: 11px;
}

.download-buttons img {
    width: 161px;
    padding: 0 5px
}

.download-buttons a:hover {
    opacity: .8
}

.extra-stuff{
    padding: 40px 0 30px 0;
    background: #f8f8f8;
}

.extra-stuff p {
    padding: 0 114px;
    color: #666;
    line-height: 1.6em;
    font-style: italic;
    font-weight: 500;
}

.section-one {
    padding: 118px 0;
    text-align: center;
}

.section-one ul{
    margin: 80px 0 0 0;
}

.section-one ul li{
    width: 145px;
}

.section-two {
    background-color: #f8f8f8;
    padding: 118px 0;
}

.section-two .mrgn-btm {
    margin-bottom: 100px;
}

.section-two .right{
    float: right;
}

.section-two h1{
    margin-top: 100px;
    text-align: left;
    font-weight: bold;
}

.section-two h4 {
    text-align: left;
}

.section-two img{
    width: 300px;
}

.section-three {
    position: relative;
    padding-top: 118px;
    padding-bottom: 90px;
    border-bottom: 
}

.delivery-boy img {
    position: absolute;
    left: 42%;
    width: 175px;
    bottom: 7.2%;
}

.bg {
    background-image: url("../media/bg.png");
    display: block;
    height: 166px;
    margin-top: 0;
}

.road {
    background-image: url("../media/road.png");
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 42px;
}

.sun {
    background-image: url("../media/sun.png");
    background-repeat: no-repeat;
    width: 56px;
    height: 50px;
    position: absolute;
    left: 9%;
    bottom: 53%;
}

.section-four {
    padding-top: 100px;
    padding-bottom: 118px;
}

.section-five {
    background-image: url(../media/marketing-bg.jpg);
    padding: 118px 0 160px;
    position: relative;
    background-size: cover;
    text-align: center;
}

.section-five h1{
    color: #fff;
}

.section-five .phone-input {
    padding-top: 4em;
    padding-bottom: 2em;
}

.section-five .intl-tel-input{
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    width: 214px;
    font-weight: 400;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px;
    background-color: #fff;
}

.section-five .intl-tel-input div{
    display: block;
    float: left;
}

.section-five .intl-tel-input input{
    border: none;
    font-size: 1.6rem;
    width: 204px;
    height: 27px;
    padding-top: 10px;
    font-weight: 400;
}

.section-five #get-app-button {
    width: 105px;
    height: 48px;
    font-size: 1.6rem;
    padding: 6px 0;
    font-weight: 400;
    background-color: #e96125;
    color: #fff;
    border: 1px solid #e96125;
    margin-left: -4px;
    vertical-align: middle;
    display: inline-block;
}

#owl-demo .item {
	padding: 30px 0px;
  	margin: 10px;

}

#owl-demo .item img{
    height: 72px;
    width: 72px;
    margin: 0 auto;
}

.item p{
    text-align: center;
}

.button img{
	margin-top: 70px;
}

.full-city-list {
	display: none;
	color: #666;
	border-top: 1px solid #eee;
	font-size: 16px;
	margin: 2em auto 0;
	padding: 0 114px;
}

.full-city-list ul{
	text-align: left;
	list-style-type: none;
	margin: 2em 1em 0 0;
	float: left;
	width: 23%;

}

.full-city-list-expander{
	text-align: center;
	color: #e96125;
	font-weight: bold;
}

.full-city-list-wrapper{
	text-align: center;
}

@media only screen and (max-width:980px) {
    .section-one ul li {
        width: 100px
    }
}

@media only screen and (max-width:769px) {
    .cover-text {
        background-image: url(../media/bg_mobile.png);
        background-size: 100% 100%;

    }
    .cover-text {
        height: 80vh
    }
    .cover-text h1 {
        font-size: 26px;
        margin-bottom: 15px
    }
    .cover-text h4 {
        font-size: 16px;
        margin-bottom: 20px
    }
    .cover-text h5 {
        padding: 0 15px;
        font-size: 14px;
        margin: 25px 0 10px
    }

    .extra-stuff div{
    	padding: 0 15px;
    }

    .extra-stuff p{
    	padding: 0;
    }

    .section-one{
    	padding: 50px 0 60px;
    }

    section {
        padding: 50px 0 60px
    }

    .mobile-products h4 {
        margin-bottom: 30px;
        font-size: 12px
    }
    .mobile-products .pdng0 {
        padding: 0
    }

    .section-two {
        text-align: center;
        padding: 80px 0 30px
    }
    .section-two h1,
    .section-two h4 {
        text-align: center
    }
    .section-two h1.heading {
        margin-top: 40px
    }
    .section-two .mrgn-btm {
        margin-bottom: 35px
    }

    .section-three {
        padding: 50px 0 60px
    }
    .section-three .subheading {
        margin-bottom: 50px
    }
    .section-three .bg {
        background: url(../media/bg_small.png);
        height: 104px
    }
    .section-three .sun {
        left: 11%;
        bottom: 41%;
        background-size: 70%
    }
    .section-three .road {
        bottom: 25px
    }
    .section-three .delivery-boy img {
        width: 20%;
        bottom: 7.2%;
        left: 38%
    }
    .download-buttons img {
        width: 120px
    }
    
    .section-four #city-slider {
        margin: -20px 0 20px
    }
    .section-four .full-city-list {
        font-size: 12px
    }
    .section-four .full-city-list ul {
        width: 40%
    }
    .section-four .full-city-list ul.third-list {
        width: 0
    }
    .section-four .full-city-list ul li {
        font-size: 12px;
        padding: 5px 0
    }
    .section-five {
        padding: 30px 0 70px
    }
    .section-five h3 {
        line-height: 1.7em;
        font-size: 14px;
        margin-top: 10px
    }
    .section-five .phone-input {
        padding-top: 2em
    }
    .section-five .intl-tel-input {
        width: 150px;
        height: 40px
    }
    .section-five .intl-tel-input input {
        font-size: 13px;
        padding-top: 5px
    }
    .section-five #get-app-button {
        width: 92px;
        height: 40px
    }
    .section-five .section-five-btns {
        bottom: 17%
    }
    .rmv-pdng {
        padding: 0
    }
}

@media only screen and (max-width:480px) {
    .cover-text {
        height: 385px
    }
    .section-two img {
        width: 90%
    }
    .section-four .full-city-list {
        padding: 0
    }
    .section-four .full-city-list ul {
        width: 34%
    }
}