.cover .inner,
.products {
    text-align: center
}

body {
    padding-top: 0!important
}

section {
    padding: 118px 0
}

.cover .outer {
    display: table;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid #eee;
    position: relative
}

.cover .inner {
    background-color: rgba(0, 0, 0, .1);
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
    height: 73vh;
    color: #fff
}

.cover .inner h5 b,
.locations .full-city-list-expander {
    color: #e96125
}

.cover .inner h1 {
    font-size: 44px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 20px
}

.cover .inner h4 {
    font-size: 18px;
    line-height: 21px;
    margin: -5px 0 30px;
    font-weight: 400
}

.cover .inner h5 {
    font-size: 16px;
    line-height: 1.6em;
    margin: 20px 0 0;
    font-weight: 400
}

.cover .inner h6 {
    margin-bottom: 40px;
    font-size: 11px!important
}

.cover .inner .grofers20 {
    font-weight: 600
}

.download-app-btns img {
    width: 161px;
    padding: 0 5px
}

.download-app-btns a:hover {
    opacity: .8
}

.scroll-down {
    left: 49%
}

.products ul {
    margin-top: 80px
}

.products ul li {
    width: 145px
}

.products img {
    height: 38px
}

.way-you-shop-points {
    background-color: #f8f8f8
}

.way-you-shop-points h1 {
    margin-top: 100px;
    text-align: left
}

.way-you-shop-points h4 {
    text-align: left
}

.way-you-shop-points img {
    width: 300px
}

.way-you-shop-points .right {
    float: right
}

.way-you-shop-points .mrgn-btm {
    margin-bottom: 100px
}

.quick-delivery {
    position: relative;
    padding: 118px 0 90px
}

.quick-delivery .subheading {
    margin-bottom: 80px!important
}

.quick-delivery .sun {
    background: url(../../images/quick-delivery/sun.png) no-repeat;
    width: 56px;
    height: 50px;
    position: absolute;
    left: 9%;
    bottom: 53%
}

.quick-delivery .bg {
    background: url(../../images/quick-delivery/bg.png) repeat-x;
    display: block;
    height: 166px;
    margin-top: 0
}

.quick-delivery .road {
    background: url(../../images/quick-delivery/road.png) repeat-x;
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 32px
}

.quick-delivery .delivery-boy img {
    position: absolute;
    left: 42%;
    bottom: 7.2%;
    width: 175px
}

.tweets {
    background-color: #f8f8f8;
    display: none
}

.tweets .other-text {
    max-width: 500px;
    margin: 20px auto 100px;
    text-align: center
}

.locations {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 100px 0 118px
}

.owl-carousel .item .city-picture {
    width: 72px;
    height: 72px;
    margin: 0 auto 1rem
}

.locations #city-slider {
    margin: -50px 0 60px;
    padding: 0 50px;
    position: relative;
    overflow: hidden
}

.locations #city-slider a.button {
    width: 32px;
    position: absolute;
    top: 43%;
    cursor: pointer
}

.locations #city-slider a.button.prev {
    left: 0
}

.locations #city-slider a.button.next {
    right: 0
}

.locations .full-city-list {
    font-size: 16px;
    margin: 2em auto 0;
    padding: 0;
    color: #666;
    border-top: 1px solid #eee;
    display: none
}

.locations .full-city-list ul {
    text-align: left;
    list-style-type: none;
    margin: 2em 1em 0 0;
    float: left;
    width: 28%
}

.locations .full-city-list ul.third-list {
    width: 25%
}

.locations .full-city-list ul.fourth-list {
    width: 10%
}

.locations .full-city-list ul li {
    padding: 8px 0;
    font-size: 14px
}

.locations .owl-carousel {
    height: 180px
}

.locations .owl-carousel .owl-stage-outer {
    height: 100%
}

.locations .owl-carousel .owl-stage-outer .owl-stage {
    top: 50px
}

.locations .owl-carousel .item .city-picture {
    width: 72px;
    height: 72px
}

.download-app {
    padding: 118px 0 215px;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover
}

.download-app h1.heading {
    color: #fff
}

.download-app h3 {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    font-weight: 400
}

.download-app h3 b.regular {
    font-weight: 500
}

.download-app .phone-input {
    padding-top: 3em
}

.download-app .intl-tel-input {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    width: 214px;
    font-weight: 400;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #eee;
    padding: 5px;
    background-color: #fff
}

.download-app .intl-tel-input div {
    display: block;
    float: left
}

.download-app .intl-tel-input input {
    background: 0 0;
    display: block;
    border: none;
    outline: 0;
    font-size: 1.6rem;
    width: 204px;
    height: 27px;
    padding-top: 10px;
    font-weight: 400
}

.download-app #get-app-button {
    width: 105px;
    height: 48px;
    font-size: 1.6rem;
    padding: 6px 0;
    font-weight: 400;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #e96125;
    color: #fff;
    outline: 0;
    border: 1px solid #e96125;
    margin-left: -4px;
    vertical-align: middle;
    display: inline-block
}

.download-app .download-app-btns {
    position: absolute;
    bottom: 29%;
    left: 0;
    right: 0
}

.fixedPosition {
    position: absolute!important;
    bottom: 26%!important
}

.download-app h3 a {
    color: #fff;
    font-size: 12px
}

.error-msgs {
    color: #fff;
    font-weight: 400;
    position: absolute;
    left: 0;
    right: 0;
    padding: 8px 10px
}

.error-msgs a {
    color: #fff;
    text-decoration: underline
}

.extra-stuff {
    padding: 40px 0 30px;
    background: #f8f8f8;
    border-bottom: 1px solid #eee
}

.extra-stuff p {
    color: #666;
    line-height: 1.6em;
    font-style: italic;
    font-weight: 500
}

@media only screen and (max-width:980px) {
    .products ul li {
        width: 100px
    }
}

@media only screen and (max-width:769px) {
    section {
        padding: 50px 0 60px
    }
    section .constant-padding {
        padding: 0 15px
    }
    .mobile-products h4 {
        margin-bottom: 30px;
        font-size: 12px!important
    }
    .mobile-products .pdng0 {
        padding: 0!important
    }
    .cover .outer {
        background-image: url(../../images/bg_mobile.png)!important
    }
    .cover .inner {
        height: 80vh
    }
    .cover .inner h1 {
        font-size: 26px;
        margin-bottom: 15px
    }
    .cover .inner h4 {
        font-size: 16px;
        margin-bottom: 20px
    }
    .cover .inner h5 {
        padding: 0 15px;
        font-size: 14px;
        margin: 25px 0 10px
    }
    .quick-delivery {
        padding: 50px 0 60px
    }
    .quick-delivery .subheading {
        margin-bottom: 50px!important
    }
    .quick-delivery .bg {
        background: url(../../images/quick-delivery/bg_small.png);
        height: 104px
    }
    .quick-delivery .sun {
        left: 11%;
        bottom: 40%;
        background-size: 70%
    }
    .quick-delivery .road {
        bottom: 17px
    }
    .quick-delivery .delivery-boy img {
        width: 20%;
        bottom: 7.2%;
        left: 38%
    }
    .download-app-btns img {
        width: 120px
    }
    .way-you-shop-points {
        text-align: center;
        padding: 80px 0 30px
    }
    .way-you-shop-points h1,
    .way-you-shop-points h4 {
        text-align: center
    }
    .way-you-shop-points h1.heading {
        margin-top: 40px
    }
    .way-you-shop-points .mrgn-btm {
        margin-bottom: 35px
    }
    .locations #city-slider {
        margin: -20px 0 20px
    }
    .locations .full-city-list {
        font-size: 12px
    }
    .locations .full-city-list ul {
        width: 40%
    }
    .locations .full-city-list ul.third-list {
        width: 0
    }
    .locations .full-city-list ul li {
        font-size: 12px;
        padding: 5px 0
    }
    .download-app {
        padding: 50px 0 100px
    }
    .download-app h3 {
        line-height: 1.7em;
        font-size: 14px;
        margin-top: 10px
    }
    .download-app .phone-input {
        padding-top: 2em
    }
    .download-app .intl-tel-input {
        width: 150px!important;
        height: 40px
    }
    .download-app .intl-tel-input input {
        font-size: 13px;
        padding-top: 5px
    }
    .download-app #get-app-button {
        width: 92px;
        height: 40px
    }
    .download-app .download-app-btns {
        bottom: 17%
    }
    .fixedPosition {
        bottom: 13%!important
    }
    .error-msgs {
        font-size: 12px
    }
    .rmv-pdng {
        padding: 0
    }
}

@media only screen and (max-width:480px) {
    .way-you-shop-points img {
        width: 90%
    }
    .locations .full-city-list {
        padding: 0
    }
    .locations .full-city-list ul {
        width: 34%
    }
    .cover .inner {
        height: 385px
    }
}

@media only screen and (max-width:345px) {
    .fixedPosition {
        bottom: 8%!important
    }
    .error-msgs {
        line-height: 1.2em;
        bottom: -13%
    }
}